.mainDiv {
    width: 1400px;
    height: 2325px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.topPost {
    width: 1140px;
    height: 1929px;
    margin: 0 auto;
    /* background-color: lightblue; */
    padding: 10px;
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
    font-size: 30px;
    border: 3px solid black;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.gridPost {
    /* background-color: lightgreen; */
    padding: 10px;
    height: 558px;
    height: 494px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid black;
}

.fetch-img {
    width: 558px;
    height: 273px;
    margin: 0 auto;
}
.main-img {
    height: 600px;
    width: 1140px;
}
.search-input {
    width: 1140px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 5px;
}